* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("background website.jpg");
  background-size: cover
}

li {
  list-style: none;
}

.header {
  background: rgba(0, 0, 0, 0.1);
  width: 1050px;
  height: 100px;
  margin: 0 12%;
}

.header-logo {
  float: left;
  color: #fff;
  font-family: courier;
  font-weight: 800;
  font-size: 54px;
  padding-left: 40px;
  padding-top: 18px;
}

.clear-7::after {
  content: "";
  clear: right;
  display: table;
}

.header-list li a{
  float: left;
  color: #fff;
  margin-left: 30px;
  font-size: 20px;
  padding: 37px 0 22px 0;
  font-weight: bold;
}

.header-list ul li a:hover {
  text-decoration: underline;
  color: black;
}

.clear-3::after {
  content: "";
  clear: right;
  display: table;
}

.login {
  float: right;
  background-color: #39A2DB;
}

.login a {
  font-size: 20px;
  font-weight: bold;
  padding: 18px 25px 17px 25px;
  line-height: 65px;
  color: white;
  display: inline-block;
}

.login a:hover {
  background-color: #A2DBFA;
  color: black;
}

.clear-8::after {
  content: "";
  clear: both;
  display: table;
}

.main {
  background-color: #fff;
  width: 1050px;
  height: 1275px;
  margin: 0 12%;
}

.logo img {
  width: 1000px;
  margin-top: 25px;
  margin-left: 25px;
}

.main h2 {
  text-align: center;
  font-weight: bold;
}

.foto {
  float: left;
  margin-left: 50px;
}

.foto img {
  width: 200px;
  height: 200px;
}

.clear::after {
  content: "";
  clear: right;
  display: table;
}

.foto h3 a {
  margin-left: 75px;
  color: black;
}

.foto h3 a:hover {
  color: red;
}

.foto h4 {
  margin-left: 50px;
}

.bersih::after {
  content: "";
  clear: both;
  display: table;;
}

.foto-1 {
  float: left;
  margin-left: 50px;
}

.foto-1 img {
  width: 200px;
  height: 200px;
}

.clear-4::after {
  content: "";
  clear: both;
  display: table;
}

.foto-1 h3 a {
  margin-left: 60px;
  color: black;
}

.foto-1 h3 a:hover {
  color: red;
}

.foto-1 h4 {
  margin-left: 45px;
  padding-bottom: 20px;
}

.btn-3d a {
  font-weight: bold;
  color: #fff;
}

.main .btn-3d a:hover {
  text-decoration: underline;
  color: red;
}

.btns {
  background-color: #142F43;
  margin-left: 475px;
  padding: 16px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border-color: #71C9CE;
  border: none;
  border-radius: 4px;
  box-shadow: 0 9px #999;
}

.btns:hover {
  background-color: #A6E3E9;
}

.btns:active {
  background-color: #CBF1F5;
  box-shadow: 0 5px #666;
  transform: translateY(-4px);
}

.btn-3d p {
  text-align: center;
  font-weight: bold;
  margin-top: 25px;
}

.footer {
  background-color: #2F86A6;
  width: 1050px;
  height: 280px;
  margin: 0 12%;
  padding-bottom: 25px;
}

.media-sosial h3{
  padding-top: 25px;
  margin-left: 125px;
  font-weight: bold;
}

.media-sosial p {
  font-size: 16px;
  margin-left: 125px;
  font-weight: bold;
}

.media-sosial a {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.media-sosial a:hover {
  text-decoration: underline;
  color: #fff;
}

.hubungi-kami h3 {
  padding-top: 20px;
  margin-left: 125px;
  font-weight: bold;
}

.hubungi-kami p {
  font-size: 20px;
  margin-left: 125px;
  font-weight: bold;
}

.email h3 {
  padding-top: 20px;
  margin-left: 125px;
  font-weight: bold;
}

.alamat h3 {
  padding-top: 20px;
  margin-left: 125px;
  font-weight: bold;
}

.note {
  background: rgba(0, 0, 0, 0.3);
  width: 1050px;
  height: 50px;
  margin: 0 12%;
}

.note h1 {
  text-align: center;
  padding-top: 5px;
}

@media screen and (max-width: 768px){
  .header, .main, .footer, .note{
    margin: 0 0;
  }
}
